# Eclipse
.classpath
*.project
*/.project
/bin/
bin/
.settings
*/.metadata/
.metadata
*/bin/
tmp/
*/tmp/
*.tmp
local.properties
*/.settings
.scannerwork

# Intellij
/idea/
*/.idea/*
.idea/*
*/.idea
/.idea/
*/out/
*/history/
*.iml
*.iws

# Serenity-BDD
/target/
/target/*
*/target/

# Gradle
.gradle
/.gradle/
*/build/
/build/
*/.gradle/

#Sonar generated dir
/.sonar/
/.scannerwork/
*/.sonar/
*/.scannerwork/

# VisualStudioCode
.vscode/
